Repository azurite-engine/Azurite, pull requests merged in 2021-07, with the labels that each got.

#41 Algorithm/pathfinding
  build.gradle
  src/main/java/ai/path/Map.java
  src/main/java/ai/path/Node.java
  src/main/java/ai/path/Path.java
  src/main/java/ai/path/Pathfinding.java
  src/main/java/ai/path/ResultPath.java
  src/main/java/ai/path/vector2f/Vector2fMap.java
  src/main/java/ai/path/vector2f/Vector2fNode.java
  src/main/java/ai/path/vector2f/Vector2fPath.java
  src/main/test/ai/path/PathfindingTest.java
Labels: Review todo, enhancement, help wanted, to test branch, waiting on tests

#45 Feature/portability
  src/main/java/util/Engine.java
  src/main/java/util/safety/Preconditions.java
Labels: enhancement

#44 HSL color support
  src/main/java/graphics/Color.java
  src/main/java/graphics/HSLColor.java
  src/main/test/graphics/HSLColorTest.java
Labels: enhancement, to test branch

#47 Removal System from Renderer
  build.gradle
  src/main/java/ecs/Component.java
  src/main/java/ecs/GameObject.java
  src/main/java/ecs/PointLight.java
  src/main/java/ecs/SpriteRenderer.java
  src/main/java/graphics/Framebuffer.java
  src/main/java/graphics/RenderableComponent.java
  src/main/java/graphics/renderer/DebugRenderBatch.java
  src/main/java/graphics/renderer/DebugRenderer.java
  src/main/java/graphics/renderer/DefaultRenderBatch.java
  src/main/java/graphics/renderer/DefaultRenderer.java
  src/main/java/graphics/renderer/LightmapRenderer.java
  src/main/java/graphics/renderer/RenderBatch.java
  src/main/java/graphics/renderer/Renderer.java
  src/main/java/postprocess/PostProcessStep.java
  src/main/java/scene/Scene.java
  src/main/java/scene/SceneManager.java
  src/main/java/scenes/DemoTopDown.java
  src/main/java/tiles/Tilesystem.java
  src/main/java/util/Utils.java
  src/main/java/util/debug/DebugLine.java
Labels: In review process, enhancement
